@font-face {
    font-family: Gagalin;
    src: url("../fonts/Gagalin-Regular.otf")
}
@font-face {
    font-family: Overthinkers;
    src: url("../fonts/overthinkers.ttf")
}

:root {
    --primary-red: #e2002b;
    --primary-black: #29211f;
    --primary-white: #f3efe9;
    --primary-teal: #33c5b0;
}

/* Style Reset */
* {
    box-sizing: border-box;
}

body {
    font-family: Gagalin;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-black);
}

/* Navbar */
.title-bar {
    width: 100%;
    display: flex;
}

.logo {
    width: 35%;
    min-width: 150px;
    margin-left: -40px;
}

.logo img {
    width: 100%;
}

nav {
    background-color: var(--primary-red);
    box-shadow: 20px 20px var(--primary-teal);
    padding-right: 100px;
    margin-right: -100px;
}

nav a:hover {
    color: var(--primary-black);
}

.title-bar .flex {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-basis: 50%;
}

nav li {
    padding: 0px 40px;
    flex-wrap: wrap;
}

nav a {
    color: var(--primary-white);
    padding: 5px;
    margin: 0 5px;
    font-size: 30px;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--primary-black);
}

@media only screen and (max-width: 768px) {
    .logo {
        width: 100%;
    }
    nav {
        background-color: transparent;
        box-shadow: none;
    }

    nav a {
        color: var(--primary-black);
    }

    nav ul {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: var(--primary-teal);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 10;
        padding: 0;
    }
    nav ul.active {
        left: 0;
    }

    nav ul li {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Home Page */

.home-page {
    background-image: url(/images/new-home-bg.svg), url(/images/new-top-right-bg.svg);
    background-position: top left, top right;
    background-size: 40vw, 550px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: var(--primary-white);
}

.home-content {
    display: flex;
    flex-direction: column;
    width: 60vw;
    align-items: flex-end;
    margin-left: 40vw;
}

.home-content p {
    max-width: 57%;
    color: var(--primary-black);
    font-size: 1.8vw;
    line-height: 1.5;
    align-self: flex-start;
    width: 53%;
    margin-left: 20px;
}

.subscribe {
    display: flex;
    flex-direction: column;
    font-family: Overthinkers;
    color: var(--primary-red);
    font-size: 30px;
    background-color: var(--primary-black);
    width: 60.1vw;
    position: fixed;
    bottom: 0;
    right: 0;
    align-items: center;
    overflow: hidden;
}

.subscribe h2 {
    margin-top: 10px;
    font-size: 60px;
    margin-bottom: 10px;
}

.subscribe div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.subscribe div img {
    width: 100px;
    margin-bottom: 30px;
}

.mobile-image {
    display: none;
}

@media only screen and (max-width: 768px) {
    .home-page {
        background-image: none;
    }

    .mobile-image {
        display: flex;
    }

    .mobile-image img {
        width: 100%;
    }

    .home-content {
        margin: 0;
        width: 100%;
    }

    .home-content p {
        max-width: 100%;
        width: 100%;
        padding: 10px;
        margin: 0;
        margin-top: 20px;
        border-color: var(--primary-black);
        border-style: solid;
        font-size: 20px;
        text-align: center;
    }

    .subscribe {
        margin-top: 10px;
        position: relative;
        width: 100%;
    }

    .subscribe h2 {
        font-size: 30px;
    }

    .subscribe div a {
        width: 15%;
    }

    .subscribe div a img {
        width: 100%;
    }

}

/* Episodes Page */
.episodes-page {
    background-image: url(/images/new-top-right-bg.svg);
    background-position: top right;
    background-size: 550px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: var(--primary-white);
}

.episodes-content {
    font-family: Overthinkers;
    max-width: 57%;
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
    margin-left: 600px;
    margin-top: 100px;  
    position: fixed;
}

.list-of-episodes {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#player_iframe {
    padding: px;
    border: var(--primary-black) solid 10px;
}

#buzzsprout-small-player {
    display: none;
}

.episodes-foot h1 {
    display: none;
    font-size: 6em;
    position: fixed;
    bottom: 0;
    margin-bottom: -10px;
    margin-left: 20px;
}

@media only screen and (max-width: 768px) {
    .episodes-page {
        background-image: none;
    }
    .episodes-content {
        max-width: 100%;
        padding: 10px;
        margin: 0;
        margin-top: 20px;
    }

    .episodes-foot h1{
        margin: 0;
        margin-top: 20px;
        font-size: 5em;
        text-align: center;
        position: relative;
    }
    #player_iframe {
        padding: px;
        border: var(--primary-black) solid 10px;
        display: none;
    }
    
    #buzzsprout-small-player {
        display: block;
    }

    .list-of-episodes {
        margin-top: 10px;
    }

    .episodes-foot h1 {
        display: block;
    }
}

/* About Page */
.about-page {
    background-image: url(/images/new-top-right-bg.svg);
    background-position: top right;
    background-size: 550px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: var(--primary-white);

}

@media only screen and (max-width: 768px) {
    .about-page {
        background-image: none;
    }
}

/* Subscribe Page
.subscribe-page {
    background-image: url(/images/top-left-bg.svg);
    background-position: top right;
    background-size: 550px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: var(--primary-white);
}

.subscriptions {
    margin-top: 100px;
    margin-right: 400px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.subscriptions div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Overthinkers;
    font-size: 40px;
}

.subscriptions div img {
    width: 150px;
}

.subscribe-foot h1 {
    font-size: 6em;
    position: fixed;
    bottom: 0;
    margin-bottom: -10px;
    margin-left: 20px;
}

@media only screen and (max-width: 768px) {
    .subscribe-page {
        background-image: none;
    }

    .subscribe-foot h1{
        margin: 0;
        margin-top: 20px;
        font-size: 5em;
        text-align: center;
        position: relative;
    }

    .subscriptions {
        margin: 0;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .subscriptions a {
        flex-basis: 50%;
    }

    .subscriptions div img {
        width: 100px;
    }

    .subscriptions div p {
        margin-top: 0;
    }
}

*/

/* Social Page */
.social-page {
    background-image: url(/images/new-top-right-bg.svg);
    background-position: top right;
    background-size: 550px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: var(--primary-white);
}

.social-content {
    display: flex;
    justify-content: center;
}

.social-img {
    height: 500px;
    margin: 0 50px;
}

.social-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: Overthinkers;
    font-size: 4rem;
    width: 20vw;
}

.facebook {
    display: flex;
    align-items: space-between;
    width: 100%;
}

.facebook p {
    transform: rotate(270deg);
    margin: 0;
}

.instagram {
    display: flex;
    justify-content: space-between;
}

.instagram p {
    transform: rotate(270deg);
    margin: 0;
    font-size: 3.6rem;
}

.social-icons img {
    width: 120px;
}

@media only screen and (max-width: 768px) {
    .social-page {
        background-image: none;
    }

    .social-content {
        flex-direction: column;
        justify-content: center;
    }

    .facebook {
        margin: 0;
    }

    .social-icons {
        order: 1;
    }

    .social-img {
        order: 2;
        display: none;
    }

    .instagram p {
        transform: rotate(90deg);
    }

    .instagram img {
        margin-right: 0;
    }
}

/* Utility */       
.container {
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;
    overflow: hidden;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}