@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Roboto:ital,wght@1,700&display=swap');

:root {
    --primary-red: #e2002b;
    --primary-black: #29211f;
    --primary-white: #f3efe9;
    --primary-teal: #33c5b0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../images/body-background.png);
    background-size: 30%;
    background-color: var(--primary-white);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    color: var(--primary-black);
}

.home-page {
    background-image: url(../images/mandi-kevin-bg.png);
    background-position: center top;
    background-size: 100%;
}

ul {
    list-style-type: none;
    margin-right: -90px;
}

#last-nav {
    margin-right: 50px;
}

a {
    text-decoration: none;
    color: var(--primary-white);
}

img {
    padding-top: 20px;
    width: 100%;
}

.logo {
    padding-top: 20px;
    width: 100%;
}

.navbar {
    height: 70px;
    margin-bottom: 100px;
}

.navbar ul {
    background-color: var(--primary-red);
    box-shadow: 10px 10px var(--primary-teal);
    display: flex;
}

.navbar a {
    padding: 10px;
    margin: 0 5px;
    font-size: 28px;
}

.navbar a:hover {
    color: var(--primary-black);
}

.navbar .current-page {
    color: var(--primary-teal);
}


.navbar .flex {
    justify-content: space-between;
}

.navbar img {
    width: 60%;
    min-width: 300px;
    margin-top: 10px;
}

.filler-body {
    height: 650px;
}

.social {
    background-color: var(--primary-black);
    border-color: var(--primary-red);
    width: 80%;
    gap: 100px;
    margin: 100px auto;
}

.social img {
    width: 10%;
    padding: 90px 0;
}

/* Utility Classes */

.container {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1500px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
}