@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Roboto:ital,wght@1,700&display=swap');

:root {
    --primary-red: #e2002b;
    --primary-black: #29211f;
    --primary-white: #f3efe9;
    --primary-teal: #33c5b0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-black);
    color: var(--primary-white);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-white);
}

img {
    width: 100%;
}

.navbar {
    height: 70px;
}

.navbar ul {
    background-color: var(--primary-red);
    box-shadow: 10px 10px var(--primary-teal);
    display: flex;
}

.navbar a {
    padding: 10px;
    margin: 0 5px;
    font-size: 25px;
}

.navbar a:hover {
    color: var(--primary-black);
}

.navbar .current-page {
    color: var(--primary-teal);
}


.navbar .flex {
    justify-content: space-between;
}

.navbar img {
    width: 60%;
    min-width: 300px;
    margin-top: 10px;
}

.container {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1300px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}